.cart-dropdown-container {
  position: absolute;
  right: 16px;
  top: 72px;
  width: 90vw;
  max-width: 320px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #222;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.18);
  border-radius: 8px;

  .cart-items {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 12px;

    .empty-message {
      font-size: 16px;
      text-align: center;
      color: #666;
      justify-self: center;
    }
  }
  .checkout-btn {
    display: block;
    width: 100%;

    .button-container {
      width: 100% !important;
      min-width: 0;
    }
  }
}

@media (max-width: 600px) {
  .cart-dropdown-container {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 98vw;
    max-width: 98vw;
    top: 60px;
    padding: 10px;
    height: 60vh;
  }
}
