.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .shopping-icon {
        width: 36px !important;
        height: 36px !important;
    }

    .item-count {
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        bottom: 10px;
    }
}